@import "tailwindcss";

/* Base tokens */
:root {
    --background: #13131a;
    --fillground: #c9c9c9;
    --primary: #51ffd0;
    --tertiary: #0c3127;
    --quatenary: #434343;
    --sideground: #17171f;
    --white: #ffffff;
    --black: #000;
    --primary-gradient: linear-gradient(90deg, #51ffd0 30%, #02c2f2 100%);
}

/* Tailwind theme mapping */
@theme {
    --color-background: var(--background);
    --color-foreground: var(--fillground);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-quatenary: var(--quatenary);
    --color-sideground: var(--sideground);
    --color-white: var(--white);
    --color-black: var(--black);
    --container-max-width: 50rem; /* 1152px */
}

[data-aos] {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    color: var(--fillground);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
}

p {
    font-size: 14px;
}

.primary-gradient {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    background:
        linear-gradient(var(--sideground), var(--sideground)) padding-box,
        var(--primary-gradient) border-box;
    border: 1px solid transparent;
    border-radius: 0.375rem; /* rounded-md */
    transition:
        border 1.1s,
        background 1.1s;
}

.project-card-img {
    transition: transform 0.4s;
}

.hover\:scale-img:hover .project-card-img {
    transform: scale(1.1);
}

.hover\:border-gradient:hover {
    background:
        linear-gradient(var(--sideground), var(--sideground)) padding-box,
        var(--primary-gradient) border-box;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}

.border-gradient-contact {
    background:
        linear-gradient(var(--background), var(--background)) padding-box,
        var(--primary-gradient) border-box;
    border: 1px solid transparent;
    border-radius: 0.375rem; /* rounded-md */
}

nav ul a.active {
    color: var(--primary);
    scale: 1.05;
}

.gradient-border-btn {
    position: relative;
    background: transparent;
    border-radius: 8px;
    z-index: 0;
}

.gradient-border-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px; /* border thickness */
    border-radius: inherit;

    background: linear-gradient(90deg, #6366f1, #22c55e, #06b6d4, #6366f1);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}

@keyframes letterIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hi {
    animation: bounce 1.2s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
