<footer class="mx-auto bg-sideground border-t border-quatenary pt-8 pb-12 px-4">
    <div class="max-w-6xl mx-auto flex flex-col items-center">
        <h3 class="text-xl font-bold mb-1 primary-gradient">dwifakhri</h3>
        <p class="text-center mb-10">
            Thank you for visiting my portfolio. I appreciate your time and hope
            to connect with you soon.
        </p>
        <div
            class="w-full flex flex-col md:flex-row justify-between items-center text-xs"
        >
            <span>© 2026 All Rights Reserved.</span>
            <span>Designed and developed with Astro and Tailwind CSS 💖</span>
        </div>
    </div>
</footer>
