---
import Analytics from "@vercel/analytics/astro";
import "src/style/index.css";
import AOSClient from "@/libs/AOSClient.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <meta name="generator" content={Astro.generator} />
        <title>Dwi Fakhri Chusaini</title>
    </head>

    <body>
        <!-- PAGE CONTENT -->
        <slot />
        <Analytics />
        <AOSClient />

        <!-- SCROLL TO TOP BUTTON -->
        <button
            id="scroll-top-btn"
            aria-label="Back to top"
            class="fixed bottom-4 right-4 z-30
        bg-primary border border-quatenary
        rounded-full p-3
        text-background flex items-center justify-center
        opacity-0 translate-y-2 pointer-events-none
        transition-all duration-300 ease-out cursor-pointer"
        >
            <svg
                width="20"
                height="20"
                viewBox="0 0 38 43"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18.6665 2.66663V40M18.6665 2.66663L34.6665 18.6666M18.6665 2.66663L2.6665 18.6666"
                    stroke="black"
                    stroke-width="5.33333"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>

        <!-- SCRIPT -->
        <!-- <script type="module" client:load>
            import AOS from "aos";
            import "aos/dist/aos.css";

            AOS.init({
                duration: 800,
                once: true,
            });
        </script> -->
    </body>
</html>
